/* Coolors Exported Palette - coolors.co/f7b267-ffb07f-f4845f-f2573c-f25c54 */

/* HSL */
$color1: hsla(31%, 90%, 69%, 1);
$color2: hsla(23%, 100%, 75%, 1);
$color3: hsla(15%, 87%, 66%, 1);
$color4: hsla(9%, 88%, 59%, 1);
$color5: hsla(3%, 86%, 64%, 1);

/* RGB */
$color1: rgba(247, 178, 103, 1);
$color2: rgba(255, 176, 127, 1);
$color3: rgba(244, 132, 95, 1);
$color4: rgba(242, 87, 60, 1);
$color5: rgba(242, 92, 84, 1);